[submodule "Plugins/UE5Inventory"]
	path = Plugins/UE5Inventory
	url = https://github.com/riccardomocchetti/UE5InventoryBase.git
[submodule "Plugins/UE5DialogAndQuestPlugin"]
	path = Plugins/UE5DialogAndQuestPlugin
	url = https://github.com/riccardomocchetti/UE5DialogAndQuestPlugin.git
[submodule "Plugins/UE5MultiplayerChatPlugin"]
	path = Plugins/UE5MultiplayerChatPlugin
	url = https://github.com/riccardomocchetti/UE5MultiplayerChatPlugin.git
